<footer class="text-center text-lg-start  text-muted" style="background-color: rgb(7, 27, 27);">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span style="color: white;">Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 ">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 ">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 ">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 ">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 ">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 ">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-12 col-sm-4 col-md-3 col-lg-3 mx-auto">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4" style="color: white;">
            <i class="fas fa-gem me-3 y" ></i >cloud banking pvt Ltd
          </h6>
          <p style="color: white;">
            Est:2016
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-3 col-sm-2 col-md-3 col-lg-3 mx-auto">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4" style="color: white;">
            Connections
          </h6>
          <p style="color: white;">
            <a href="#!" class="text-reset" >Fedral bank</a>
          </p>
          <p style="color: white;">
            <a href="#!" class="text-reset" style="color: white;">Panjab national bank</a>
          </p>
          <p style="color: white;">
            <a href="#!" class="text-reset" style="color: white;">SBI bank</a>
          </p>
          <p style="color: white;">
            <a href="#!" class="text-reset" style="color: white;">Kerala Bank</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-3 col-sm-2 col-md-3 col-lg-3 mx-auto">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4"style="color: white;">
            Works
          </h6>
          <p style="color: white;">
            <a href="{% url 'bankapp:home' %}" class="text-reset"style="color: white;">Home</a>
          </p> 
        
          <p style="color: white;">
            <a href="mailto:favaskzp@gmail.com " class="text-reset"style="color: white;">Contact us</a>
          </p>
          <p style="color: white;">
            <a href="{% url 'registration:logout' %}" class="text-reset"style="color: white;">Log out</a>
          </p>
        </div>
        
        <!-- Grid column -->
        <!-- <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4"> -->
          <div class="col-3 col-sm-4 col-md-3 col-lg-3 mx-auto">

          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4"style="color: white;">Contact</h6>
          <p style="color: white;"><i class="fas fa-home me-3 "style="color: white;"></i> Malappuram , INDIA</p>
          <p style="color: white;">
            <i class="fas fa-envelope me-3 "style="color: white;"> </i>cloud43team@gmail.com
          </p>
          <p style="color: white;"><i class="fas fa-phone me-3 "style="color: white;"></i> +91 77 36 32 82 56</p>
          <p style="color: white;"><i class="fas fa-print me-3 "style="color: white;"></i> 0483 28 59 990</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(129, 115, 115, 0.025); color: white;">
    © 2021 Copyright:
    <a class="text-reset fw-bold " href="" style="text-decoration: none;">cloud banking pvt ltd</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->