{% extends 'index.html' %}
{% load static %}
{% block content %}


 

    <script>
        function populateBranches() {
            const districtSelect = document.getElementById('district');
            const branchSelect = document.getElementById('branch');

            // Define branch options for each district
            const branchOptions = {
                'Choose':['----'],
                'Ernakulam': ['Aluva', 'Edapally','Palarivattom'],
                'Alappuzha': ['Cherthala', 'Thakazhy','Vallikunnam'],
                'Idukki': ['Mankulam','Thodupuzha','Thekkady'],
                'Kannur':['Taliparamba','Payyanur','Panoor'],
                'Kasargod':['Kayyur','kadumeni','cheruvathur'],
                'Kollam':['Chinakkada','Pathanapuram','Irumpupalam'],
                'Kottayam':['Kottayam','lathurprayar','Kidangoor'],
                'Kozhikode':['Chalappuram','Koduvally','Kallai'],
                'Malapppuram':['edevannapara','areekode','manjeri'],
                'Palakkad':['Koduvayur','Melmuri','Mangalam'],
                'Pathanamthitta':['Thiruvalla','Kozhencherri','Kuttur'],
                'Thiruvanathapuram':['Kannanmoola','Aakulam','Vellayambalam'],
                'Thrissur':['Guruvayur','Mannuthy','Naickanal'],
                'Wayanad':['Pallikkunnu','Kaniyambetta','Kalpetta'],


            };

            // Clear the current options
            branchSelect.innerHTML = '';

            // Populate branch options based on selected district
            const selectedDistrict = districtSelect.value;
            const branches = branchOptions[selectedDistrict] || [];

            for (const branch of branches) {
                const option = document.createElement('option');
                option.text = branch;
                branchSelect.add(option);
            }
        }
    </script>


   
        <div class="container-fluid p-4" >
            <div class="row">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="row form-row">
                        <!-- name -->
                        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-6 col-xl-6">
                          <label for="firstname">First Name</label>
                          <input type="text" class="form-control" name="fname" placeholder="First Name" required>
                        </div>
                        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-6 col-xl-6">
                          <label for="lastname">Last Name</label>
                          <input type="text" class="form-control" name="lname" placeholder="Last Name" required>
                        </div>
                      </div>
                      <br>
                   <!-- address -->
                      <div class="row form-row">
                        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-6 col-xl-6">
                          <label for="Address">Address 1</label>
                          <input type="text" class="form-control" name="addreess" placeholder="Permenet Address" required>
                        </div>
                        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                          <label for="lastname">City</label>
                          <input type="text" class="form-control" name="city" placeholder="City" required>
                        </div>
                        <div class="form-group col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                            <label for="lastname">Zip code</label>
                            <input type="number" class="form-control" id="zip" name="zip" placeholder="Zip code" required>
                          </div>
                      </div>
                      <br>
                      <div style="height: 10px; width: 100%;"></div>
                      <div class="row form-row">
                        <!-- district and branch -->

                        <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                          <label for="District">District</label>
                          <!-- <input type="number" class="form-control" name="district" placeholder="*********"> -->
                          <select id="district" name="district" onchange="populateBranches()" required>
                            <option value="Choose" >--------</option>
                            <option value="Alappuzha">Alappuzha</option>
                            <option value="Ernakulam">Ernakulam</option>
                            <option value="Idukki">Idukki</option>
                            <option value="Kannur">Kannur</option>
                            <option value="Kasargod">Kasargod</option>
                            <option value="Kollam">Kollam</option>
                            <option value="Kottayam">Kottayam</option>
                            <option value="Kozhikode">Kozhikode</option>
                            <option value="Malapppuram">Malapppuram</option>
                            <option value="Palakkad">Palakkad</option>
                            <option value="Pathanamthitta">Pathanamthitta</option>
                            <option value="Thiruvanathapuram">Thiruvanathapuram</option>
                            <option value="Thrissur">Thrissur</option>
                            <option value="Wayanad">Wayanad</option>
                        </select>
                        </div>
                        
                        
                        <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                          <label for="Branch">Branch</label>
                          <select id="branch" name="branch" required>
                            <!-- eranakulam -->
                            <option value="----">------</option>
                            <option value="Aluva">Aluva</option>
                            <option value="Edapally">Edapally</option>
                            <option value="Palarivattom">Palarivattom</option>
                            <!-- alappuzha -->
                            <option value="Cherthala">Cherthala</option>
                            <option value="Thakazhy">Thakazhy</option>
                            <option value="Vallikunnam">Vallikunnam</option>
                            <!-- Idukki -->
                            <option value="Mankulam">Mankulam</option>
                            <option value="Thodupuzha">Thodupuzha</option>
                            <option value="Thekkady">Thekkady</option>
                            <!-- Kannur -->
                            <option value="Taliparamba">Taliparamba</option>
                            <option value="Payyanur">Payyanur</option>
                            <option value="Panoor">Panoor</option>
                             <!-- Kasargod -->
                             <option value="Kayyur">Kayyur</option>
                             <option value="kadumeni">kadumeni</option>
                             <option value="cheruvathur">cheruvathur</option>
                              <!-- kollam -->
                            <option value="Chinakkada">Chinakkada</option>
                            <option value="Pathanapuram">Pathanapuram</option>
                            <option value="Irumpupalam">Irumpupalam</option>
                             <!-- kottayam -->
                             <option value="Kottayam">Kottayam Ho</option>
                             <option value="lathurprayar">lathurprayar </option>
                             <option value="Kidangoor">Kidangoor</option>
                              <!-- Kozhikode -->
                              <option value="Chalappuram">Chalappuram</option>
                              <option value="Koduvally">Koduvally </option>
                              <option value="Kallai">Kallai</option>
                               <!-- Malapppuram -->
                             <option value="edevannapara">edevannapara</option>
                             <option value="areekode">areekode </option>
                             <option value="manjeri">manjeri</option>
                              <!-- Palakkad -->
                              <option value="Koduvayur">Koduvayur </option>
                              <option value="Melmuri">Melmuri </option>
                              <option value="Mangalam">Mangalam</option>
                               <!-- Pathanamthitta -->
                               <option value="Thiruvalla">Thiruvalla </option>
                               <option value=" Kozhencherri"> Kozhencherri </option>
                               <option value="Kuttur">Kuttur</option>
                                <!-- Thiruvanathapuram -->
                              <option value="Kannanmoola">Kannanmoola </option>
                              <option value="Aakulam">Aakulam </option>
                              <option value="Vellayambalam">Vellayambalam</option>
                               <!-- Thrissur -->
                               <option value="Guruvayur">Guruvayur </option>
                               <option value="Mannuthy">Mannuthy </option>
                               <option value="Naickanal">Naickanal</option>
                                 <!-- Wayanad -->
                                 <option value="Pallikkunnu">Pallikkunnu </option>
                                 <option value="Kaniyambetta">Kaniyambetta </option>
                                 <option value="Kalpetta">Kalpetta</option>
                        </select>
                        </div>
                        <div style="height: 20px; width: 100%;"></div>
                   
                        <div class="row form-row">
                            <!-- name -->
                            <div class="form-group col-12 col-sm-6 col-md-4 col-lg-6 col-xl-6">
                              <label for="dob">Date of birth</label>
                              <input type="date" id="dobInput" name="dob">
                              <!-- <input type="date" class="form-control" id="dodInput" name="dob" required> -->
                              
                            </div>
                            <div class="form-group col-12 col-sm-6 col-md-4 col-lg-6 col-xl-6">
                              <label for="Age">Age</label><br>
                              <input type="number" id="ageInput" name="age" required>
                              <!-- <input type="number" class="form-control" id="ageInput" name="age" placeholder="Age" required> -->
                            </div>
                          </div>
                          <div style="height: 20px; width: 100%;"></div>

                          
                         
                          <div class="row form-row">
                            <!-- name -->
                            <div class="form-group col-12 col-sm-6 col-md-4 col-lg-6 col-xl-6">
                              <label for="Gender">Gender</label>
                              <input type="radio" id="male" name="gender" value="Male"> Male
                              <input type="radio" id="female" name="gender" value="Female"> Female
                            </div>
                            <div class="form-group col-12 col-sm-6 col-md-4 col-lg-6 col-xl-6">
                                <label for="phone" >Phone Number</label><br>
                                <input type="number" id="phone" name="phone" placeholder="Phone number" required>
                            </div>
                          </div>
                          <div style="height: 20px; width: 100%;"></div>
                          <div class="form-row">
                            <div class="form-group col-md-6 col-12 col-sm-12 col-md-6 col-lg-9 col-xl-9">
                              <label for="bankname">Bank Name</label>
                              <input type="text" class="form-control" name="bankname" placeholder="Bank Name" required>
                            </div>
                            </div>
                            <div style="height: 20px; width: 100%;"></div>

                          <div class="row form-row">

                            <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                              <label for="Accountnumber">Account Number</label>
                              <input type="number" class="form-control" id="acnumber" name="acnumber" placeholder="*********" required>
                            </div>
                            <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                              <label for="IFSC">IFSC code</label>
                              <input type="text" class="form-control" id="ifsc" name="ifsc" placeholder="IFSC code" required>
                            </div>
                            </div>
                            <div style="height: 30px; width: 100%;"></div>

                            

                          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-6 col-xl-6">
                            <label for="Email">Email</label>
                            <input type="email"  name="email" placeholder="Email" required>
                            <br>
                          </div>
                          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-6 col-xl-6">
                            <label for="account">Type</label>
                            <select id="account-type" name="account-type" required>
                                <option value="Choose" >--------</option>
                                <option value="Savings Account">Savings Account</option>
                                <option value="Current Account">Current Account</option>
                            </select>
                           
                          </div>
                          <div style="height: 20px; width: 100%;"></div>

                          <div class="form-group col-12 col-sm-6 col-md-4 col-lg-6 col-xl-6">
                            <label for="Materials">Materials Provided     :</label>
                            <input type="checkbox" id="debit-card" name="materials" value="Debit Card" checked> Debit Card
                            <input type="checkbox" id="credit-card" name="materials" value="Credit Card"> Credit Card
                            <input type="checkbox" id="cheque-book" name="materials" value="Cheque Book"> Cheque Book

                            
                           
                          </div>
                          <div style="height: 20px; width: 100%;"></div>

                          <center><div class="form-group">
                            <button class="btn btn-primary" type="submit" onclick="submiting()">Submit</button>
                          
                        </div></center>
                        <div style="height: 30px; width: 100%;"></div>



                        
                </form>

            </div>
        </div>



    <script>
        function submiting() {
            // Add your logout logic here
            // alert('hello')
        
   
      const numberInput = parseInt(document.getElementById('phone').value);
      const zipCode = document.getElementById('zip').value;
      const district = document.getElementById('district').value;
      const ifsc = document.getElementById('ifsc').value;

 


      const acnumber = document.getElementById('acnumber').value;
      const account_type = document.getElementById('account-type').value;


      const ageInput = document.getElementById('ageInput').value;
      const dobInput = document.getElementById('dobInput').value;
      
     
       const currentDate = new Date();
       const dob = new Date(dobInput);
       const age = currentDate.getFullYear() - dob.getFullYear();
      


     

       var genderRadios = document.getElementsByName('gender');
            var isChecked = false;

            for (var i = 0; i < genderRadios.length; i++) {
                if (genderRadios[i].checked) {
                    isChecked = true;
                    break;
                }
            }

            if (!isChecked) {
                alert('Please select a gender.');
                return false;
            }

      if (numberInput.toString().length != 10 || !/^\d+$/.test(numberInput)) {
        alert('Enter valid number')
        
      } 
      else if(zipCode.toString().length != 6 || !/^\d+$/.test(zipCode)) {
        alert('Enter valid Zip code')
      }
      else if(ifsc.toString().length != 11) {
        alert('Enter valid IFSC code')
      }
      else if(district === 'Choose' ) {
        alert('Choose any district')

      }
      else if(account_type === 'Choose') {
        alert('Choose Type of account')

      }
      else if (age != ageInput) {
       alert("Age or Date Of Birth is not valid")
      } 

      else if (acnumber.toString().length <= 8 || acnumber.toString().length > 12 || !/^\d+$/.test(acnumber) ) {
      alert('Enter a valid account number between 8 and 12 digits');
}

//       
//       else if(debit=='' || credit == '' || cheque == '') {
//         alert('Choose any material')
//       }
      else {
        alert('Submit form')
      }
       
        
      } 
    
  
      
    </script>

{% endblock %}

        
       
      
   